.card-body{
    text-align: center;
}
.card-header{
    text-align: center;
}
.web{
    padding:5%
}
.a{
    padding-top: 3%;
    padding-right: 5%;
    padding-left: 5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.accordion-item{
    padding: 10px;
}
